[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
openmdao-bridge-matlab = {editable = true,path = "."}
pytest = "*"
black = "==19.3b0"
hypothesis = {extras = ["numpy"],version = "*"}
flake8 = "*"
flake8-isort = "*"

[packages]

[requires]
python_version = "3.7"
